:root{
  --font-base: 'Roboto', sans-serif;
  --font-title: 'Times New Roman', Times, serif;
  --title: normal 100 65px/normal var(--font-title);
  --sub-text: normal 22px/26px var(--font-base);
  --text-gray: #CECECE;
  --bg-dark-green: #033504;
  --bg-gray-opacity: rgba(117, 119, 121, 0.637);
}

html, body {
  height: 100%;
  color: var(--text-gray);
}

body {
  margin: 0;
  width: 100%;

  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  margin: 0 0 0;
}

a{
  text-decoration: none;
}

form p{
  font: var(--sub-text);
  font-size: 15px;

}

.container-form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-gray-opacity);
  padding: 20px;
}
.title{
  margin-bottom: 25px;
}
.title h1{
  font: var(--title);
  font-size: 45px;

}
.title h1 span{
  font-weight:bold;
}

input{

  box-sizing: border-box;
  
  border-radius: 4px;
  border: 1px solid var(--text-gray);
  margin-bottom: 25px;
  padding: 12px 20px;

  width: 410px;
  height: 50px;
  margin-top: 17px;
  font-size: 22px;
}

.btn-login {
  padding: 9px 25px;
  background-color: #2DA945;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}