<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7a6384f3a4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
  <div class="card">
    <img src="../static/imgs/card/Component.png" alt="LogoMiembro">
    
    <div class="info">
      <h1>Nombre Organización</h1>


      <div class="info-contents">
        <p class="info-contents__title">¿Qué hacemos? </p>
        <p class="info-contents__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus orci libero, eget laoreet tellus lacinia eu. </p>
      </div>

      
      <div class="info-contents">
        <p class="info-contents__title">Fono: </p> 
        <p class="info-contents__content">+569 9999 9999</p>
      </div>
      <div class="info-contents">
        <p class="info-contents__title">Contacto:</p>
        <div class="icon">
          <i class="fab fa-telegram"></i>
          <i class="far fa-envelope"></i>
          <i class="fab fa-facebook"></i>
          <i class="fas fa-globe"></i>
        </div>
      </div>
  
    </div>

  </div>

</body>
</html>