<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Extensión Colunga">
    <title>Colunga</title>
    <script src="https://kit.fontawesome.com/7a6384f3a4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="structure">
    <header>
      <img class="logo" width="73px" height="81" src="../static/imgs/logo_colunga.png" alt="logo">
      <nav>
        <ul class="nav__links">
        </ul>
      </nav>
      <a href="{% url 'login' %}"><button class="btn-nav">Iniciar sesión</button></a>
    </header>
  
    <section class="content">
      <div class=content-box>
        <div class="titulo">
          <h1>¿Qué está pasando en ColungaHUB?</h1>
          <p>Entérate de nuestro próximos eventos revisando nuestro calendario.</p>
        </div>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FSantiago&amp;src=MmJpdGFvOThsNjA5NW10MzhkOTN0YTc0aG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </section>

    <footer>
      <div class="info" >
        <div class="info-horario">
          <div class="icono-reloj">
            <img src="../static/imgs/footer/reloj.svg" alt="Icono de reloj">
          </div>
          <div>
            <p>Horario</p>
            <p>De Lunes a Viernes, de 9 AM a 20 PM</p>
          </div>
        </div>
  
        <div class="info-contacto">
          <div class="icono-correo">
            <img src="../static/imgs/footer/correo-electronico.svg" alt="Icono contacto">
          </div>
          <div>
            <p>Dirección Av. Bustamante 26</p>
            <p>providencia, Santiago</p>
            <p>Teléfono:&nbsp;+56 222043350 / <br> +56 222748547</p>
            <p>Contacto:&nbsp;<a href="mailto:contacto@fundacioncolunga.org">contacto@fundacioncolunga.org</a></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="sociales">
        <div class="sociales-copy">
          <p>©&nbsp;Fundación&nbsp;Colunga</p>
        </div>
        <div class="sociales-iconos">
          <a href="https://www.instagram.com/fundacioncolunga/" target="_blank"><i class="fa fa-instagram"></i> &nbsp; </a>
          <a href="https://twitter.com/fundcolunga" target="_blank"><i class="fa fa-twitter"></i> &nbsp; </a>
          <a href="https://www.facebook.com/fundacioncolunga/" target="_blank"><i class="fa fa-facebook"></i> &nbsp; </a>
          <br>
          <a href="https://www.flickr.com/photos/147267947@N06/albums" target="_blank"><i class="fa fa-flickr"></i> &nbsp; </a>
          <a href="https://www.linkedin.com/company/fundación-colunga/" target="_blank"><i class="fa fa-linkedin"></i> &nbsp; </a>
          <a href="https://www.youtube.com/channel/UCsFiZXAvH-v3_I44CmguVDA" target="_blank"><i class="fa fa-youtube"></i> &nbsp; </a>
        </div>
      </div>
    </footer>
  </div>
  
</body>

</html>
